footer {
    background-color: rgb(238, 238, 238);
    padding: 2%;
    position: relative;
    top: auto;
    bottom: 0;
    width: 96%;
}

footer p {
  width: max-content;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: rgb(110, 110, 115);
}

@media screen and (max-width: 415px) {
  footer {
    padding: 5%;
    width: 90%;
  }
}