@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');

:root {
    --text: #000;
    --bg: #fff;
    --headerbg: rgb(251, 251, 253);
    --headertext: #525252;
    --headerminitext: rgb(154, 154, 154);
    --headerspan: #fff;
    --footerbg: grey;
}
@media (prefers-color-scheme: dark) {
    :root {
        --text: #fff;
        --bg: #000;
        --headerbg: rgb(208, 208, 208);
        --headertext: rgb(44, 44, 44);
        --headerminitext: rgb(76, 76, 76);
        --headerspan: rgb(44,44,44);
    }
}

* {
    margin: 0;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

body {
    overflow-x: hidden;
    font-family: system-ui, -apple-system, sans-serif;
    background-color: var(--bg);
    color: var(--text);
}

a {
  text-decoration: none;
  color: var(--text);
}

header {
    background-color: var(--headerbg);
    color: var(--headertext);
    height: auto;
    position: fixed;
    z-index: 2;
    width: 100%;
    margin-top: -6%;
}

header a:not(div.mobileMenu a) {
  color: var(--headertext);
}

header ul {
    padding-inline-start: 0;
    list-style-type: none;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 1%;
}

header > ul {
  height: 2.5rem;
  padding-top: 2%;
}

header ul li {
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

header > ul > li {
  padding-top: 1%;
  height: 5vh;
}

header > ul > li:first-child {
    margin-right: auto;
    margin-left: 1vw;
}

header > ul > li:first-child > a {
    /*text-decoration: none;*/
    font-family: 'Zen Tokyo Zoo', cursive;
    /*font-size: 2vw;*/
    color: var(--headertext);
}

header > ul > li:last-child {
  margin-right: 1vw;
}

header > ul > li:last-of-type {
  display: none;
}

div.underHeader {
  position: fixed;
  width: 95%;
  height: max-content;
  /*margin-top: 3.35%;*/
  margin-top: 3.2%;
  background-color: var(--headerbg);
  padding: 0 2.5% 0 2.5%;
  display: flex;
  /*max-height: 0;*/
  z-index: 2;
  /*transition: max-height .5s ease;*/
  transform-origin: top;
  transform: scaleY(0);
  transition: transform .5s ease;
}

/*div.underHeader div.left, div.underHeader div.right {
  opacity: 0;
  transition: opacity 1s ease;
}*/

div.underHeader div.left {
  width: 40%;
  margin-bottom: 3%;
  margin-top: 2%;
}

div.underHeader div.right {
  width: auto;
  margin-top: 2%;
}

header ul div.underHeader {
  margin-left: -5%;
}

div.underHeader > div  * {
  width: max-content;
  margin: 0;
}

div.underHeader p {
  color: var(--headerminitext);
  font-weight: 200;
  font-size: 1.25vw;
  margin-bottom: 2%;
}

div.underHeader ul {
  display: block;
  padding-inline-start: 0;
  width: max-content;
}

div.underHeader ul li {
  margin-bottom: 3%;
}

div.underHeader ul li a {
  font-size: 2vw;
  color: var(--headertext);
}

header > ul > li:hover + div.underHeader, div.underHeader:hover {
  /*display: flex;*/
  max-height: 50vh;
}

header > ul > li:hover + div.underHeader, div.underHeader:hover,header > ul > li:hover + div.underHeader > div.left, header > ul > li:hover + div.underHeader > div.right, div.underHeader:hover + div.left, div.underHeader:hover + div.right {
  transform: scaleY(1);
  /*opacity: 1;*/
}

header > ul > div.mobileMenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.5s ease;
  width: 0;
}

div#notifica {
    position: relative;
    width: 100%;
    background-color: var(--headertext);
    color: var(--headerbg);
    display: flex;
    padding-top: .5%;
    padding-bottom: .5%;
    z-index: 1;
    margin-top: 5%;
}
  
div#notifica p {
margin-left: auto;
margin-right: 2%;
line-height: 2;
}

div#notifica > div {
  margin-right: auto;
  display: flex;
}

div#notifica > div > a {
border: 0px;
margin-top: 5%;
background-color: transparent;
padding: 0;
color: var(--headerbg);
font-size: 100%;
text-decoration: underline;
}

div#notifica > div > .material-symbols-rounded {
margin-right: auto;
height: max-content;
margin-top: 3%;
}

div#notifica > div > p:hover {
cursor: pointer;
}

@media screen and (max-width: 415px) {
  header {
    margin-top: -12.5%;
  }

  header > ul > li:not(:first-child, :last-of-type) {
    display: none;
  }

  header > ul > li:first-child > a {
    font-size: 6vw;
  }

  header > ul > li:last-of-type {
    display: block;
    margin-right: 1vw;
    padding-top: 2%;
  }

  div.underHeader {
    display: none;
  }

  header > ul > li:hover + div.underHeader, div.underHeader:hover {
    display: none;
  }

  header > ul > div.mobileMenu {
    position: absolute;
    width: 100%;
    margin-left: -5%;
    margin-top: -1%;
    height: 100vh;
    background-color: var(--headerbg);
    color: var(--text);
  }

  header > ul > div.mobileMenu > ul {
    display: block;
    padding: 5% 5%;
  }

  header > ul > div.mobileMenu > ul > li {
    display: flex;
    margin: 0% 0% 5% 5%;
  }

  header > ul > div.mobileMenu > ul > li:first-child > span.material-symbols-rounded {
    font-size: 8vw;
    margin-left: auto;
  }

  header > ul > div.mobileMenu > ul > li p {
    margin-right: auto;
    font-size: 7vw;
    font-weight: 550;
  }

  header > ul > div.mobileMenu > ul > li p, header > ul > div.mobileMenu > ul > li span.material-symbols-rounded, header > ul > div.mobileMenu > ul > div.sideMenu > ul > li > h2 > a, header > ul > div.mobileMenu > ul > div.sideMenu > ul > li:first-child > span.material-symbols-rounded {
    color: var(--headertext);
  }

  header > ul > div.mobileMenu > ul > div.sideMenu > ul {
    display: block;
    margin-top: -15%;
  }
  
  header > ul > div.mobileMenu > ul > div.sideMenu > ul > li {
    /*opacity: 0;*/
    margin-bottom: 2.5%;
  }

  header > ul > div.mobileMenu > ul > div.sideMenu > ul > li:first-child > span.material-symbols-rounded {
    margin-top: -15%;
    margin-bottom: 15%;
    font-size: 6vw;
  }

  header > ul > div.mobileMenu > ul > div.sideMenu > ul > li > p {
    color: var(--headertext);
    font-size: 4.5vw;
  }

  header > ul > div.mobileMenu > ul > div.sideMenu > ul > li > h2 {
    color: var(--text);
    font-size: 8vw;
  }

  div#notifica {
    margin-top: 12.5%;
    padding: 2.5%;
    width: 95%;
    display: block;
    text-align: center;
  }

  div#notifica p {
    line-height: initial;
  }

  div#notifica > div {
    margin-top: 1.5%;
  }

  div#notifica > div > a {
    margin-right: 1%;
    margin-top: 0%;
    margin-left: auto;
  }
  
  div#notifica > div > .material-symbols-rounded {
    margin-top: .5%;
    font-size: 3.5vw;
  }
}