:root {
    --mainBg: /*#d5e4f3*/ #fff;
}
@media (prefers-color-scheme: dark) {
    :root {
        --mainBg: #000;
    }
}

main {
    display: flex;
    background-color: var(--mainBg);
    color: var(--text);
}

main > div {
    padding: 5% 10%;
}

main > div#left {
    width: 10%;
    position: fixed;
}

main > div#left > ul {
    padding-inline-start: 0;
}

main > div#left > ul > li {
    list-style-type: none;
    font-size: 1.5vw;
    font-weight: 600;
    transition: .5s;
}

main > div#left > ul > li:not(:last-of-type) {
    margin-bottom: 15%;
}

main > div#left > ul > li:hover {
    cursor: pointer;
    color: #2997ff;
}

main > div#right {
    width: 50%;
    margin-left: 30%;
}

main > div#right h1 {
    text-transform: uppercase;
    font-size: 1.5vw;
    margin-bottom: 2%;
}

main > div#right > div#about > p > span, main > div#right > div#about a {
    color: #2997ff;
    cursor: pointer;
    text-decoration: underline;
}

main > div#right > div#downloads > div#alert {
    display: none;
}

main > div#right > div#downloads > h2:not(:first-of-type) {
    margin-top: 5%;
}

main > div#right > div#downloads > div {
    margin-top: 2%;
}

main > div#right > div#downloads > div.downloadBtn > p {
    background-color: rgb(0, 113, 227);
    color: #fff;
    width: min-content;
    padding: 1% 2%;
    border-radius: 20px;
    cursor: pointer;
}

main > div#right > div#downloads > div.downloadBtn > div.downloadOptions {
    display: none;
    margin-top: 2.5%;
    padding-left: 2%;
}

main > div#right > div#downloads > div.downloadBtn > div.downloadOptions > div#WindowsDownload {
    margin-right: auto;
    text-align: center;
}

main > div#right > div#downloads > div.downloadBtn > div.downloadOptions > div#WindowsDownload > p {
    font-size: 1vw;
}

main > div#right > div#downloads > div.downloadBtn > div.downloadOptions > a {
    margin-right: auto;
}

main > div#right > div#doc h2 {
    font-size: 2.5vw;
}

main > div#right > div#doc > div:first-of-type > span.expand {
    rotate: 0deg;
    font-size: 2.5vw;
    margin-top: auto;
    margin-left: auto;
}

main > div#right > div#doc > div#introductionC {
    display: none;
}

main > div#right > div#doc figure > img {
    width: 100%;
    margin-top: 5%;
}

main > div#right > div#doc > ul {
    padding-inline-start: 0;
}

main > div#right > div#doc > ul > li {
    list-style-type: none;
    margin-top: 2%;
}

main > div#right > div#doc > ul > li > div:first-of-type {
    display: flex;
}

main > div#right > div#doc > ul > li h4 {
    font-size: 1.5vw;
}

main > div#right > div#doc > ul > li span.expand {
    rotate: 0deg;
    font-size: 1.5vw;
    margin-left: auto;
}

main > div#right > div#doc > ul > li > div.instructions {
    display: none;
    margin-top: 2%;
}

div.example {
    font-family: monospace;
    margin: 1.5%;
    padding: 1%;
    border: 1px solid var(--text);
}

div.example > p > span {
    background-color: rgb(189, 189, 189);
    color: #000;
}

main > div#right > div#doc > ol > li > span {
    background-color: rgb(189, 189, 189);
    color: #000;
    font-family: monospace;
    letter-spacing: .5px;
    padding: .25%;
    font-weight: 800;
}

@media screen and (max-width: 415px) {
    main {
        display: block;
    }

    main > div#left {
        width: 90%;
        padding: 5%;
        /*margin-top: -15%;*/
        background-color: var(--bg);
        position: sticky;
    }

    main > div#left > ul {
        display: flex;
    }

    main > div#left > ul > li {
        font-size: 3.5vw;
        margin-bottom: 2%;
        margin-right: auto;
        margin-left: auto;
    }

    main > div#left > ul > li:not(:last-of-type) {
        margin-bottom: 2%;
    }

    main > div#right {
        /*margin-top: 15%;*/
        width: 90%;
        padding: 5%;
        margin-left: 0%;
    }

    main > div#right h1 {
        font-size: 4vw;
    }

    main > div#right h2 {
        font-size: 8vw;
    }

    main > div#right p, main > div#right ul > li {
        font-size: 5vw;
        margin-bottom: 5%;
    }

    main > div#right > div#about > span#openCloseExpl {
        font-size: 5vw;
        color: #2997ff;
        text-decoration: underline;
    }

    main > div#right > div#downloads > div#alert {
        display: block;
        padding: 5%;
        color: var(--text);
        border: 1px solid rgb(247, 200, 68);
        border-radius: 20px;
        margin-bottom: 5%;
        margin-top: 0%;
    }

    main > div#right > div#downloads > div.downloadBtn > p {
        padding: 1.5% 4%;
    }
    
    main > div#right > div#downloads > div.downloadBtn > div.downloadOptions {
        display: none;
    }

    main > div#right > div#downloads > div.downloadBtn > div.downloadOptions a {
        font-size: 6vw;
    }

    main > div#right > div#downloads > div.downloadBtn > div.downloadOptions > div#WindowsDownload {
        display: flex;
        width: 100%;
    }

    main > div#right > div#downloads > div.downloadBtn > div.downloadOptions > div#WindowsDownload > p {
        font-size: 4vw;
        margin-top: auto;
        margin-bottom: 1%;
        margin-left: 5%;
    }

    main > div#right > div#doc h2, main > div#right > div#doc > div:first-of-type > span.expand, main > div#right > div#doc > ul > li h4, main > div#right > div#doc > ul > li span.expand {
        font-size: 7vw;
    }

    main > div#right > div#doc > ol > li, main > div#right > div#doc > ul > li {
        font-size: 5vw;
    }
}