:root {
    --text: #000;
    --bg: #fff;
    --headerbg: rgb(44,44,44);
    --headertext: #fff;
    --headerspan: #fff;
}
@media (prefers-color-scheme: dark) {
    :root {
        --text: #fff;
        --bg: #000;
        --headerbg: rgb(125, 125, 125);
        --headertext: rgb(44, 44, 44);
        --headerspan: rgb(44,44,44);
    }
}
body {
    margin: 0;
    overflow-x: hidden;
    font-family: system-ui, -apple-system, sans-serif;
    background-color: var(--bg);
    color: var(--text);
}
header {
    position: fixed;
    height: 44px;
    width: 100%;
    background-color: var(--headerbg);
    z-index: 2;
}
header ul {
    list-style-type: none;
    padding-inline-start: 0;
    display: inline-flex;
    width: 100%;
    margin: 0;
    height: 100%;
}
header ul li:first-child {
    color: var(--headerspan);
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1.5%;
}
header ul li span.material-symbols-rounded {
    font-size: 2vw;
    color: var(--bg);
    font-weight: 401;
}
header ul li:nth-child(2) {
    position: absolute;
    margin-left: 48.5%;
}
header ul li h1 {
    margin: 0;
    color: var(--headertext);
}
header ul li#augurio {
    margin-left: auto;
    margin-right: 1.5%;
    display: none;
    width: max-content;
}
header ul li#augurio img {
    width: 2.25vw;
    margin-top: auto;
    margin-bottom: auto;
}
header ul li#augurio p {
    margin: 0;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 0.85vw;
}
header#header > ul > li#language {
    margin: auto 1% auto auto;
}
span.material-symbols-rounded {
    cursor: pointer;
}
ul#sideMenu {
    background-color: var(--headerbg);
    color: var(--bg);
    height: 100%;
    width: 0%;
    z-index: 100;
    position: fixed;
    margin: 0;
    overflow-x: hidden;
    transition: .5s;
    list-style-type: none;
    margin-right: 100%;
    padding-inline-start: 0px;
}
ul#sideMenu li span.material-symbols-rounded {
    margin-left: 85%;
    margin-top: 2.5%;
    font-size: 2vw;
    font-weight: 401;
}
ul#sideMenu li h2 {
    margin: 0;
}
ul#sideMenu li {
    display: flex;
    margin-left: 10%;
    width: 90%;
}
ul#sideMenu li:not(:first-child) {
    margin-top: 5%;
}
ul#sideMenu li:not(:first-child, :nth-child(2)) {
    background-color: #fff;
    width: 75%;
    border-radius: 20px;
    padding: 3%;
}
ul#sideMenu li img {
    width: 15%;
    margin-right: 3.5%;
}
ul#sideMenu li a {
    text-decoration: none;
    color: #000;
    line-height: 2.5;
}
ul#sideMenu li a:hover {
    text-decoration: underline;
}
main {
    display: inline-grid;
}
main #bgImg {
    width: 100%;
    border-bottom: 0.25vw solid;
    border-color: var(--headerbg);
    object-fit: cover;
    object-position: 100% 15%;
    height: 50%;
}
main #profileImg {
    width: 25%;
    border-radius: 50%;
    border: 0.25vw solid;
    border-color: var(--headerbg);
    position: absolute;
    margin-left: 36.5vw;
    margin-top: 15%;
    z-index: 1;
}
main img.decorazioni {
    width: 5%;
    position: absolute;
}
main img.decorazioni:nth-child(1) {
    margin-top: -18%;
    margin-left: 12.5%;
    transform: rotate(20deg);
}
main img.decorazioni:nth-child(2) {
    margin-top: -10.5%;
    margin-left: 87.5%;
    transform: rotate();
    display: none;
}
main img.decorazioni:nth-child(3) {
    margin-top: -5.5%;
    margin-left: 5%;
    transform: rotate();
}
main img.decorazioni:nth-child(4) {
    margin-top: -22%;
    margin-left: 65%;
    transform: rotate(330deg);
}
main img.decorazioni:nth-child(5) {
    margin-top: 25%;
    margin-left: 93%;
    transform: rotate(25deg);
}
main img.decorazioni:nth-child(6) {
    margin-top: -21%; /* stava al 2% => -23% per tutti */
    margin-left: 37%;
    transform: rotate(216deg);
}
main img.decorazioni:nth-child(7) {
    margin-top: 5%;
    margin-left: 65%;
    transform: rotate();
}
main img.decorazioni:nth-child(8) {
    margin-top: 14.5%;
    margin-left: 15%;
    transform: rotate();
}
main img.decorazioni:nth-child(9) {
    margin-top: 38%;
    margin-left: 75%;
    transform: rotate(345deg);
}
main img.decorazioni:nth-child(10) {
    margin-top: 55%;
    margin-left: 7.5%;
    transform: rotate(225deg);
}
main img.decorazioni:nth-child(11) {
    margin-top: 35%;
    margin-left: 55%;
    transform: rotate(11deg);
}
main img.decorazioni:nth-child(12) {
    margin-top: 81%;
    margin-left: 5%;
    transform: rotate();
}
main img.decorazioni:nth-child(13) {
    margin-top: 74.5%;
    margin-left: 92.5%;
    transform: rotate(25deg);
}
main img.decorazioni:nth-child(14) {
    margin-top: 63%;
    margin-left: 40%;
    transform: rotate();
}
main img.decorazioni:nth-child(15) {
    margin-top: 29.5%;
    margin-left: 27.5%;
    transform: rotate(325deg);
}
main img.decorazioni:nth-child(16) {
    margin-top: 13%;
    margin-left: 80%;
    transform: rotate(40deg);
}
main img.decorazioni:nth-child(17) {
    margin-top: -10.5%;
    margin-left: 87.5%;
    transform: rotate(15deg);
}
main h1 {
    margin: 0;
    text-align: center;
    margin-top: -14%;
    font-size: 3.5vw;
    height: max-content;
}
main p {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.5vw;
    height: max-content;
    margin-top: -8%;
}
#date {
    display: none;
}
main h2 {
    text-align: center;
}
main h2>a {
    color: var(--text);
    text-decoration: none;
}
main h1>a>span.material-symbols-rounded {
    color: #06c;
    font-size: 2vw;
}
div.listsContainer {
    border-bottom: 0.75px solid grey;
}
ul#links {
    padding-inline-start: 0;
    margin-bottom: 3vh;
    columns: 3 auto;
    width: 100%;
}
ul#links li {
    list-style-type: none;
    width: 100%;
    margin-bottom: 2vh;
}
ul#links li a {
    text-decoration: none;
    color: #06c;
    font-size: 17px;
}
ul#links li a:hover {
    text-decoration: underline;
}
main h1, main p, ul#links, main h2 {
    z-index: 1;
}
#decorazioni {
    display: none;
}
table#skill {
    width: 78%;
    border-radius: 10px;
    padding: 1%;
    margin-left: 10%;
    z-index: 1;
}
table#skill thead th {
    font-size: 2vw;
}
table#skill tbody tr td:first-child {
    width: 4%;
}
table#skill tbody tr td:first-child div {
    width: 0.75vw;
    height: 1.5vh;
    border-radius: 50%;
    border: 5px solid;
}
table#skill tbody tr td:first-child div#html {
    border-color: #e44d26;
    background-color: #e44d26;
}
table#skill tbody tr td:first-child div#css {
    border-color: #264ee4;
    background-color: #264ee4;
}
table#skill tbody tr td:first-child div#js {
    border-color: #f7df1d;
    background-color: #f7df1d;
}
table#skill tbody tr td:first-child div#php {
    border-color: #767bb3;
    background-color: #767bb3;
}
table#skill tbody tr td:first-child div#sql {
    border-color: #cc763f;
    background-color: #cc763f;
}
table#skill tbody tr td:nth-child(2), table#skill tbody tr td:nth-child(4) {
    font-size: 1.5vw;
}
table#skill tbody tr td progress {
    border-radius: 20px;
    height: 0.75em;
    vertical-align: 0.25em;
    width: 57vw;
    margin-left: 3vw;
}
table#skill tbody tr td progress::-webkit-progress-bar {
    background-color: rgb(233, 233, 233);
    border-radius: 20px;
}
table#skill tbody tr td progress::-webkit-progress-value {
    border-radius: 20px;
}
table#skill tbody tr:nth-child(1) td:nth-child(3) progress::-webkit-progress-value {
    background-color: #e44d26;
}
table#skill tbody tr:nth-child(2) td:nth-child(3) progress::-webkit-progress-value {
    background-color: #264ee4;
}
table#skill tbody tr:nth-child(3) td:nth-child(3) progress::-webkit-progress-value {
    background-color: #f7df1d;
}
table#skill tbody tr:nth-child(4) td:nth-child(3) progress::-webkit-progress-value {
    background-color: #767bb3;
}
table#skill tbody tr:nth-child(5) td:nth-child(3) progress::-webkit-progress-value {
    background-color: #cc763f;
}
main h2 {
    font-size: 2vw;
}
ul.projects {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 10%;
    padding-inline-start: 0px;
    z-index: 1;
}
ul.projects li {
    width: 31%;
}
ul.projects li:nth-child(2), ul.projects li:nth-child(5), ul.projects li:nth-child(8) {
    margin-left: 3%;
    margin-right: 3%;
}
ul.projects li a {
    color: var(--text);
    text-decoration: none;
}
ul.projects li a img {
    width: 100%;
}
ul.projects li a h5 {
    font-size: 2vw;
    margin: 0%;
    text-align: center;
}
ul.projects li a p {
    font-size: 1vw;
    margin-top: 0%;
}
main a:not(main h2>a, main h1>a) {
    text-decoration: none;
    color: #06c;
    margin-left: auto;
    margin-right: 10%;
    font-size: 1.5vw;
    margin-bottom: 5vh;
}
main a span.material-symbols-rounded {
    font-size: 1.5vw;
    position: relative;
    top: 0.25vw;
}
@media screen and (max-width: 415px) {
    header ul li:nth-child(2) {
        margin-left: 44%;
    }
    header ul li span.material-symbols-rounded, ul#sideMenu li span.material-symbols-rounded {
        font-size: 8vw;
        margin-top: 10%;
    }
    header ul li#augurio {
        width: 30%;
    }
    header ul li#augurio img {
        width: 10vw;
        height: 4.5vh;
    }
    header ul li#augurio p {
        font-size: 2.5vw;
        width: 100%;
    }
    ul#sideMenu li:last-child {
        margin-bottom: 20%;
    }
    main #bgImg {
        border-bottom: 1vw solid;
        height: 100%;
        object-fit: fill;
        object-position: 100% 100%;
    }
    main #profileImg {
        border: 1vw solid;
        margin-top: 37.5%;
    }
    main h1 {
        font-size: 10vw;
        margin-top: 10%;
    }
    main p {
        font-size: 4vw;
        width: 80%;
        margin-top: 0;
    }
    ul#links li {
        min-width: 65vw;
    }
    ul#links li:last-child {
        margin-bottom: 5vh;
    }
    main img.decorazioni {
        width: 7.5%;
    }
    table#skill {
        margin-left: 3%;
        padding: 2%;
        width: 90%;
    }
    table#skill thead th {
        font-size: 6vw;
    }
    table#skill tbody tr td:first-child div {
        height: 1vh;
        width: 1.5vw;
    }
    table#skill tbody tr td:nth-child(2), table#skill tbody tr td:nth-child(4) {
        font-size: 4vw;
    }
    table#skill tbody tr td progress {
        width: 42vw;
        margin-top: 1vh;
    }
    main h2 {
        font-size: 7vw;
        margin-top: 3vh;
        margin-bottom: 2vh;
    }
    main img.decorazioni:nth-child(12) {
        margin-top: 690%;
    }
    main img.decorazioni:nth-child(13) {
        margin-top: 643%;
        margin-left: 89%;
    }
    main img.decorazioni:nth-child(14) {
        margin-top: 296%;
        margin-left: 18%;
    }
    main img.decorazioni:nth-child(15) {
        margin-top: 595%;
        margin-left: 4%;
    }
    main img.decorazioni:nth-child(16) {
        margin-top: 555%;
        margin-left: 88%;
    }
    main img.decorazioni:nth-child(10) {
        margin-top: 510%;
        margin-left: 11%;
    }
    main img.decorazioni:nth-child(11) {
        margin-top: 472%;
        margin-left: 91%;
    }
    main img.decorazioni:nth-child(9) {
        margin-top: 442%;
        margin-left: 40%;
    }
    main img.decorazioni:nth-child(8) {
        margin-top: 388%;
        margin-left: 8%;
    }
    main img.decorazioni:nth-child(7) {
        margin-top: 228%;
    }
    main img.decorazioni:nth-child(5) {
        margin-top: 248%;
    }
    main img.decorazioni:nth-child(4) {
        margin-top: 200%;
        margin-left: 4%;
    }
    main img.decorazioni:nth-child(3) {
        margin-top: 162%;
        margin-left: 86%;
    }
    main img.decorazioni:nth-child(1) {
        margin-top: 34%;
        margin-left: 8%;
    }
    main img.decorazioni:nth-child(2) {
        display: none;
    }
    main img.decorazioni:nth-child(17) {
        margin-top: 89%;
        margin-left: 77%;
    }
    ul.projects li {
        width: 100%;
        margin-bottom: 5vh;
    }
    ul.projects li:last-child {
        margin-bottom: 0;
    }
    ul.projects li a h5 {
        font-size: 5vw;
    }
    ul.projects li a p {
        font-size: 3vw;
    }
    main h2#frontendmentor {
        font-size: 6vw;
    }
    main a:not(main h2>a, main h1>a) {
        font-size: 5vw;
    }
    main a span.material-symbols-rounded {
        font-size: 3.5vw;
    }
}