@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
::root {
    --text: #000;
    --bg: #fff;
}
@media (prefers-color-scheme: dark) {
    ::root {
        --text: #fff;
        --bg: #000;
    }
}
body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0%;
    overflow-x: hidden;
    color: var(--text);
    background-color: var(--bg);
    scroll-behavior: smooth;
}
header {
    background-color: rgb(29,29,31);
    width: 100%;
    height: 44px;
    /*margin: -8px;*/
    position: fixed;
    padding: 0px;
    display: flex;
    z-index: 9999;
    color: #fff;
    top: 0%;
}
ul {
    list-style-type: none;
    display: inline-flex;
    padding-inline-start: 0%;
    padding-left: 0%;
}
.buttons {
    line-height: 50%;
    position: absolute;
    line-break: loose;
    opacity: .8;
}
.buttons:hover {
    opacity: 1;
}
.icone-top-img {
    width: 20px;
    height: 7px;
    margin: 0%;
    margin-top: 0px;
    position: absolute;
    top: 1.5px;
}
.buttons p {
    margin: 0;
}
.search-button-piece1 {
    width: 7px;
    height: 2px;
    border-top: 1.25px solid #fff;
    transform: rotate(45deg);
    display: flex;
    position: relative;
    margin-top: 9px;
    left: 1px;
    display: flex;
}
.search-button-piece2 {
    border: 1.25px solid #fff;
    border-radius: 50%;
    display: flex;
    width: 10px;
    height: 10px;
    position: relative;
    bottom: 3px;
    right: 15px;
    display: flex;
}
.button-left-top {
    transition: rotate(45deg);
    transition-timing-function: linear;
}
.button-left-bottom {
    transition: rotate(45deg);
    transition-timing-function: linear;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
main {
    margin-top: 44px;
    position: relative;
    z-index: 1;
}
footer {
    background-color: #d2d2d7;
    color: #6e6e73;
    width: 100%;
    height: auto;
    margin-top: 0%;
    left: 0px;
    right: 0px;
    font-size: small;
    padding-left: 2.5%;
}
footer p {
    margin: 0;
    text-align: center;
    width: 95%;
}
footer p:first-child {
    padding-top: 1%;
}
footer p:last-child {
    padding-bottom: 1%;
}
footer img {
    aspect-ratio: 1/1;
    width: 2%;
    margin-left: 46.5%;
}
.artisti {
    border-radius: 10px;
    width: 11.7135%; 
    display: block;
    margin-left: 0.565%;
    margin-right: 0.565%;
    z-index: 1;
    float: left;
} 
.artisti-container {
    display: block;
    width: 100%;
    position: relative;
    z-index: 0;
    padding-left: 11%;
}
.bopper-down1 {
    margin: 0%;
    /*background-size: 100%  100%;*/
    border-radius: 10px;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    z-index: 2;
}
.foto-bopper {
    border-radius: 10px;
    object-position: center center;
    object-fit: cover;
    width: 100%;
    position: relative;
    z-index: 2;
    aspect-ratio: 1/1;
}
.bopper-down3 {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgb(0,0,0) 50%);
    position: relative;
    width: 100%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 4;
    margin-top: -45%;
}
.titoletti-artisti {
    line-height: 3.5;
}
.titoletti-playlist {
    line-height: 1.78;
}
.titoletti-playlist-1 {
    line-height: 3.5;
}
.titoletti-artisti, .titoletti-playlist {
    color: #fff;
    text-align: center;
    font-size: 1.5vw;
    margin: 0%;
    margin-top: -10%;
    top: 10%;
    position: relative;
    height: min-content;
    z-index: 5;
    padding-top: 20%;
}
.playlist-container {
    display: block;
    position: relative;
    z-index: 0;
    width: 100%;
    padding-left: 11%;
}
.playlist {
    border-radius: 10px;
    width: 11.7135%;
    margin-left: 0.565%;
    margin-right: 0.565%;
    display: block;
    z-index: 1;
    float: left;
}
h6 {
    margin-top: 2%;
    margin-bottom: 0%;
}
.billboard {
    font-family: inherit;
    background-color: rgba(0, 0, 0, 0);
    height: min-content;
    position: relative;
    width: 97.5%;
    margin-left: 1.25%;
    margin-top: 50px;
    margin-bottom: 1.25%;
}
.hot-billboard-macro-title {
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    font-family: inherit;
    font-size: 2.5vw;
    color: white;
    display: flex;
    width: max-content;
    background-color: blue;
    border-radius: 0px;
    height: min-content;
    margin: 0.25% 0%;
}
.hot-billboard-table {
    text-align: center;
    width: 100%;
    /*border-top: 2px solid black;
    margin-bottom: 2px solid black;*/
    position: relative;
    margin-left: 1.5%;
    margin-right: 1.5%; 
    border-spacing: 0px;
    font-size: 1.5vw;
    max-width: 97.49%;
}
.hot-billboard-update {
    display: block;
    height: min-content;
    left: 75%;
    font-size: 0.8vw;
    color: rgb(43, 43, 43);
    position: relative;
    border-radius: 10px;
    background-color: grey;
    padding: 10px 15px;
    margin: 0.45%;
}
th {
    text-align: center;
    /*border: 2px solid black;*/
    background-color: #000;
    color: #fff;
    margin: 0%;
    border-spacing: 0px;
    padding: 0.5%;
    font-size: 1.5vw;
    width: min-content;
}
h1 {
    /*margin-left: 1.111934766493699%;*/
    margin-bottom: 15px;
}
.billboard td {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    max-width: 115px;
    background-color: #fff;
    margin: 0%;
    border-spacing: 0px;
    padding: 0.5%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 2.5vw;
}
.billboard .column1-billboard-table {
    background-color: blue;
    color: #fff;
    border: 0px;
    font-size: 1.5vw;
}
.img-table {
    object-fit: cover;
    object-position: center center;
    aspect-ratio: 1 / 1;
    margin: 1.5%;
    padding: 0%;
    width: 50%;
}
.column2-billboard-table {
    padding: 0%;
    aspect-ratio: 1 / 1;
    width: 4.01041667%;
}
.mobile-divs {
    display: contents;
}
.playlist-title {
    margin-top: 1%; 
    margin-bottom: 1%; 
    text-align: center;
    display: inline-block;
    width: 100%;
}
.artisti-title {
    width: 100%;
    display: inline-block;
    text-align: center;
}
.logo-button {
    left: 15%;
}
.second-button {
    left: 30%;
}
.third-button {
    left: 38%;
}
.fourth-button {
    left: 50%;
}
.fifth-button {
    left: 60%;
}
.sixth-button {
    left: 70%;
}
.search-button {
    left: 82%;
}
li.buttons button {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: 0;
    display: flex;
}
.sferaEbbasta {
    font-size: 1.3vw;
    padding-top: 23%;
    padding-bottom: 3%;
}
.grammysTitle {
    background-color: goldenrod;
    padding: 0% 0%;
    font-size: 2.5vw;
    margin-bottom: -1.4532px;
    height: min-content;
    margin-top: 18%;
}
.grammysTitle h1 {
    height: 80px;
    margin: 0;
    line-height: 2.5;
}
.grammysTitle p {
    text-align: center;
    margin: 0 0 2% 0;
}
.grammysContainer {
    display: block;
    width: 100%;
}
.grammysContainer img {
    vertical-align: middle;
    width: 100%;
    aspect-ratio: 16/9;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    object-fit: cover;
}
.grammysContainer img:hover {
    background-size: 110%;
    transition: 1s ease;
}
.grammysContainer img:not(:hover) {
    transition: 1s ease;
}
.titolettiGrammysJr {
    position: relative;
    margin-top: -56.2%;
    padding-left: 3.5%;
    color: #fff;
    width: calc(100%-22.5px);
    background-image: linear-gradient(to bottom, #000 80%, rgba(0,0,0,0) 100%)/*, linear-gradient(to right, #000 80%, rgba(0,0,0,0) 100%), linear-gradient(to left, #000 80%, rgba(0,0,0,0) 100%)*/;
}
.titolettiGrammysSr {
    position: relative;
    margin-top: 43%;
    margin-left: 3.5%;
    color: #fff;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    max-width: max-content;
    border-radius: 3px;
    padding: .3% 3%;
}
.grammysContainer table {
    border-collapse: collapse;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    width: 100%;
    border: 0;
    border-spacing: 0%;
}
.grammysContainer td {
    width: 50%;
    padding: 0;
    aspect-ratio: 16/9;
    overflow: -webkit-paged-x;
}
.grammysContainer p, .grammysContainer h3 {
    font-size: 2.25vw;
}
.iCantBreathe:hover{
    background-size: 150%;
}
.caos {
    line-height: 3.5;
}
.myNavMenu ul {
    visibility: hidden;
    color: #000;
}
@media screen and (max-width: 800px) {
    .artisti-container {
        height:auto;
        margin-left: 1.5%;
        padding-left: unset;
    }
    .mobile-divs {
        display: block;
        width: 100%;
        margin: 0% 2%;
    }
    .artisti {
        width: 30%;
    }
    .titoletti-artisti {
        font-size: 3vw;
        top: 70%;
        position: relative;
        line-height: 50%;
        padding-top: 0%;
    }
    .titoletti-playlist {
        font-size: 3vw;
        top: 35%;
        position: relative;
        line-height: 50%;
        padding-top: 0%;
    }
    .titoletti-playlist-1 {
        line-height: 3.5;
    }
    .titoletti-playlist-2 {
        line-height: 3.5;
    }
    .titoletti-playlist-3 {
        line-height: 1.25;
        padding-top: 5%;
    }
    .bopper-down3 {
        height: 100px;
        top: -50px;
        position: relative;
        z-index: 6;
        background-color:rgba(0, 0, 0, 0);
        background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgb(0,0,0) 50%);
        margin-top: -14%;
    }
    .playlist-title {
        width: 100%;
        margin: -3% 0% 5% 2%;
    }
    .playlist-container {
        height: auto;
        margin-left: 2%;
        padding-left: unset;
    }
    .playlist {
        width: 30%;
        aspect-ratio: 21/30;
    }
    .hot-billboard-macro-title {
        font-size: 3vw;
        margin-bottom: 3.5%;
    }
    .hot-billboard-table {
        max-width: fit-content;
    }
    .respons-buttons {
        display: none;
    }
    .respons-center-button {
        text-align: center;
    }
    .logo-button {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        left: 0%;
    }
    .respons-search-button {
        left: 90%;
    }
    .search-button {
        left: 92.5%;
    }
    /*.sferaEbbasta {
        margin-top: 4%;
    }*/
    .thaSupreme {
        margin-top: 2%;
    }
    .maneskin {
        margin-top: 2%;
    }
    #top-artisti-title {
        position: relative;
        bottom: 45px;
        margin-bottom: -1%;
    }
    .grammysTitle {
        margin-top: 86%;
        height: min-content;
    }
    .grammysTitle h1 {
        height: 80px;
    }
    .grammysContainer h3 {
        display: none;
    }
    .navMenu {
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #000;
        overflow-x: hidden;
        padding-top: 22px;
        transition: 2s;
    }
    .navMenuTop {
        height: 44px;
        top: 0%;
        left: 0%;
        display: flex;
        padding-bottom: 5px;
        border-bottom: 1px solid grey;
    }
    .navMenuTop a {
        width: 10%;
    }
    .navMenuTop img {
        aspect-ratio: 1/1;
        width: 100%;
        margin-left: 5%;
    }
    .navMenuTop h1 {
        margin: 0;
        text-align: center;
        font-size: 16px;
        line-height: 250%;
        margin-left: 2.5%;
    }
    .closeNavMenuButton {
        width: 20px;
        height: 22px;
        position: relative;
        left: 50%;
        opacity: .5;
        cursor: pointer;
        margin-top: 22px;
    }
    .closeNavMenuButton-1 {
        transform: rotate(45deg);
        height: 1px;
        border-top: 1px solid #fff;
        width: 25px;
        position: relative;
        left: -1px;
        bottom: .5px;
    }
    .closeNavMenuButton-2 {
        transform: rotate(315deg);
        height: 1px;
        border-top: 1px solid #fff;
        width: 25px;
        position: relative;
        left: -1px;
        bottom: 2px;
    }
    .navMenu ul {
        display: block;
    }
    .navMenu ul li {
        margin-top: 10%;
        font-size: 6vw;
        margin-left: 5%;
        text-align: center;
        padding-bottom: 2.5%;
        border-bottom: 2px solid grey;
        width: 90%;
    }
    /*.navMenu ul li:last-child {
        border-bottom: 0px;
    }*/
    .openNavBtn {
        width: 20px;
        border-top: 1.25px solid #fff;
        border-left: none;
        border-bottom: 1.25px solid #fff;
        border-right: none;
        margin-top: 15px;
        left: 2.5%;
        cursor: pointer;
    }
    .hot-billboard-table a {
        font-size: 2.5vw;
    }
    th {
        font-size: 2.5vw;
    }
    .grammysContainer p, .grammysContainer h3 {
        font-size: 3vw;
    }
    .caos {
        line-height: 6.5;
    }
    .billboard .column1-billboard-table {
        font-size: 2.5vw;
    }
    .searchContainer {
        width: 92%;
        left: 2%;
    }
}
@media screen and (max-width: 440px) {
    .artisti {
        width: 29%;
        margin-left: 1%;
    }
    .playlist {
        width: 29%;
    }
    .titoletti-playlist-2 {
        line-height: 1.78;
    }
    #ilGiorno {
        line-height: 1.5;
    }
}
@media screen and (max-width: 420px) {
    .titoletti-playlist-2 {
        line-height: 6;
    }
    .titoletti-playlist-3 {
        padding-top: 15%;
    }
    .titoletti-playlist-1 {
        line-height: 6;
    }
    .hot-billboard-macro-title {
        font-size: 3.5vw;
    }
    .grammysTitle {
        margin-top: 100%;
    }
    .grammysTitle h1 {
        height: 40px;
    }
}
@media screen and (max-width: 330px) {
    .titoletti-playlist-2 {
        line-height: 1.78;
    }
    .playlist {
        margin-left: 1%;
        margin-right: 1%;
    }
}
@media screen and (max-width: 630px) {
    .respons-table {
        display: none;
    }
    .respons-table-titles {
        padding-top: 3%;
        padding-bottom: 3%; 
    }
}
@media screen and (min-width: 800px) {
    .respons-left-button {
        display: none;
    }
    .grammysContainer p, .grammysContainer h3 {
        font-size: 22.5px;
    }
    .searchContainer {
        width: 13%;
        left: 83.5%;
    }
}
@media screen and (max-width: 1200px) {
    .billboard-button {
        display: none;
    }
    .Hot100 {
        margin-left: 30%;
        display: contents;
    }
}
#LyricsStorage:hover {
    color: #000;
    transition: .1s;
}
#LyricsStorage:not(:hover) {
    transition: .1s;
}
#beccatoMain {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 66px;
}
.searchContainer {
    margin: 0;
    position: fixed;
    top: 0;
    right: 0;
    height: 44px;
    display: none;
}
.search-bar {
    height: 22px;
    margin-top: 11px;
    background-color: #fff;
    border-radius: 15px;
}
.searchContainer form {
    width: 95%;
    margin: 0 auto;
    height: 22px;
}
.searchContainer form input {
    width: 100%;
    height: 22px;
    border: 0;
    outline: none;
    background: transparent;
    color: #000;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.closeSearchBar {
    width: 20px;
    height: 22px;
    position: relative;
    left: 100%;
    opacity: .5;
    cursor: pointer;
    margin-left: 5px;
    bottom: 11px;
}
.closeSearchBar:hover {
    transition: .4s;
    opacity: .7;
}
.closeSearchBar-1 {
    transform: rotate(45deg);
    height: 1px;
    border-top: 1px solid #fff;
    width: 17.5px;
    position: relative;
    left: -1px;
    bottom: .5px;
}
.closeSearchBar-2 {
    transform: rotate(315deg);
    height: 1px;
    border-top: 1px solid #fff;
    width: 17.5px;
    position: relative;
    left: -1px;
    bottom: 2px;
}
/*
.searchContainer.hide {
    display: none;
}
.searchContainer.show {
    display: block;
}*/