main {
    width: 70%;
    margin-left: 15%;
    margin-top: 2.5%;
    margin-bottom: 5%;
}

main h2 {
    border-top: 1px solid var(--text);
    margin-top: 3%;
}

h1 {
    font-weight: 600;
    margin-top: 2.5%;
    margin-bottom: 1.5%;
}

main > div.listsContainer > ul {
    list-style-type: none;
    padding-inline-start: 0;
}

main > div.listsContainer > ul > li {
    margin-top: 1%;
}

main > div.listsContainer > ul > li > a {
    color: #06c;
    font-size: 2vw;
    font-weight: 200;
}

main > div.listsContainer > ul > li > a:hover {
    text-decoration: underline;
}