:root {
    --mainBg: #d5e4f3;
}
@media (prefers-color-scheme: dark) {
    :root {
        --mainBg: #000;
    }
}

main {
    display: flex;
    background-color: var(--mainBg);
    color: var(--text);
}

main > div {
    padding: 5% 10%;
}

main > div#left {
    width: 10%;
    position: fixed;
}

main > div#left > ul {
    padding-inline-start: 0;
}

main > div#left > ul > li {
    list-style-type: none;
    font-size: 1.5vw;
    font-weight: 600;
    transition: .5s;
}

main > div#left > ul > li:not(:last-of-type) {
    margin-bottom: 15%;
}

main > div#left > ul > li:hover {
    cursor: pointer;
    color: #2997ff;
}

main > div#right {
    width: 50%;
    margin-left: 30%;
}

main > div#right h1 {
    text-transform: uppercase;
    font-size: 1.5vw;
    margin-bottom: 2%;
}

main > div#right > div#about > p > span, main > div#right > div#about a {
    color: #2997ff;
    cursor: pointer;
    text-decoration: underline;
}

main > div#right > div#downloads > h2:not(:first-of-type) {
    margin-top: 5%;
}

main > div#right > div#downloads > div {
    margin-top: 2%;
}

main > div#right > div#downloads > div.downloadBtn > p {
    background-color: rgb(0, 113, 227);
    color: #fff;
    width: min-content;
    padding: 1% 2%;
    border-radius: 20px;
    cursor: pointer;
}

main > div#right > div#downloads > div.downloadBtn > div.downloadOptions {
    display: none;
    margin-top: 2.5%;
    padding-left: 2%;
}

main > div#right > div#downloads > div.downloadBtn > div.downloadOptions > div#WindowsDownload {
    margin-right: auto;
    text-align: center;
}

main > div#right > div#downloads > div.downloadBtn > div.downloadOptions > div#WindowsDownload > p {
    font-size: 1vw;
}

main > div#right > div#downloads > div.downloadBtn > div.downloadOptions > a {
    margin-right: auto;
}

main > div#right > div#doc h2 {
    font-size: 2.5vw;
}

main > div#right > div#doc > div:first-of-type > span.expand {
    rotate: 0deg;
    font-size: 2.5vw;
    margin-top: auto;
    margin-left: auto;
}

main > div#right > div#doc > div#introductionC {
    display: none;
}

main > div#right > div#doc figure > img {
    width: 100%;
    margin-top: 5%;
}

main > div#right > div#doc > ul {
    padding-inline-start: 0;
}

main > div#right > div#doc > ul > li {
    list-style-type: none;
    margin-top: 2%;
}

main > div#right > div#doc > ul > li > div:first-of-type {
    display: flex;
}

main > div#right > div#doc > ul > li h4 {
    font-size: 1.5vw;
}

main > div#right > div#doc > ul > li span.expand {
    rotate: 0deg;
    font-size: 1.5vw;
    margin-left: auto;
}

main > div#right > div#doc > ul > li > div.instructions {
    display: none;
    margin-top: 2%;
}

div.example {
    font-family: monospace;
    margin: 1.5%;
    padding: 1%;
    border: 1px solid var(--text);
}

div.example > p > span {
    background-color: rgb(189, 189, 189);
    color: #000;
}

main > div#right > div#doc > ol > li > span {
    background-color: rgb(189, 189, 189);
    color: #000;
    font-family: monospace;
    letter-spacing: .5px;
    padding: .25%;
    font-weight: 800;
}