@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');

:root {
    --text: #000;
    --bg: #fff;
    --headerbg: rgba(251, 251, 253, .95);
    --headertext: #525252;
    --headerminitext: rgb(154, 154, 154);
    --headerspan: #fff;
    --footerbg: grey;
}
@media (prefers-color-scheme: dark) {
    :root {
        --text: #fff;
        --bg: #000;
        --headerbg: rgba(208, 208, 208, .95);
        --headertext: rgb(44, 44, 44);
        --headerminitext: rgb(76, 76, 76);
        --headerspan: rgb(44,44,44);
    }
}

* {
    margin: 0;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

body {
    overflow-x: hidden;
    font-family: system-ui, -apple-system, sans-serif;
    background-color: var(--bg);
    color: var(--text);
}

a {
  text-decoration: none;
}

header {
    background-color: var(--headerbg);
    color: var(--headertext);
    height: auto;
    padding-top: 1.5%
}

header a {
  color: var(--headertext);
}

header ul {
    padding-inline-start: 0;
    list-style-type: none;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 1%;
}

header > ul {
  height: 2.5rem;
}

header ul li {
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition-timing-function: 3s;
}

header > ul > li:first-child {
    margin-right: auto;
    margin-left: 1vw;
}

header > ul > li:first-child > a {
    /*text-decoration: none;*/
    font-family: 'Zen Tokyo Zoo', cursive;
    /*font-size: 2vw;*/
    color: var(--headertext);
}

header > ul > li:last-child {
  margin-right: 1vw;
}

div.underHeader {
  position: fixed;
  width: 95%;
  height: max-content;
  margin-top: 3.2%;
  background-color: var(--headerbg);
  padding: 2.5%;
  display: none;
  z-index: 2;
}

div.underHeader div.left {
  width: 40%;
}

div.underHeader div.right {
  width: auto;
}

header ul div.underHeader {
  margin-left: -5%;
}

div.underHeader > div  * {
  width: max-content;
  margin: 0;
}

div.underHeader p {
  color: var(--headerminitext);
  font-weight: 200;
  font-size: 1.25vw;
  margin-bottom: 2%;
}

div.underHeader ul {
  display: block;
  padding-inline-start: 0;
  width: max-content;
}

div.underHeader ul li {
  margin-bottom: 3%;
}

div.underHeader ul li a {
  font-size: 2vw;
  color: var(--headertext);
}

header > ul > li:hover + div.underHeader, div.underHeader:hover {
  display: flex;
}

div#notifica {
  position: relative;
  margin-top: -1%;
  width: 100%;
  background-color: var(--headertext);
  color: var(--headerspan);
  display: flex;
  padding-top: .5%;
  padding-bottom: .5%;
  z-index: 1;
}

header > ul > li:hover + div#notifica {
  display: none;
}

div#notifica p {
  margin-left: auto;
  margin-right: 2%;
  line-height: 2;
}

div#notifica button {
  border: 0px;
  background-color: transparent;
  padding: 0;
  color: var(--headerspan);
  font-size: 100%;
}

div#notifica > .material-symbols-rounded {
  margin-right: auto;
  height: max-content;
  margin-top: .25%;
}

div#notifica button:hover {
  text-decoration: underline;
  cursor: pointer;
}

footer {
    background-color: rgb(245, 245, 247);
    padding: 2%;
    position: absolute;
    top: auto;
    bottom: 0;
    width: 96%;
}

footer p {
  width: max-content;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: rgb(110, 110, 115);
}